

<div>
  <nz-select
    style="width: 300px;"
    nzShowSearch
    nzPlaceHolder="请选择地点"
    [(ngModel)]="selectedValue"
    [nzShowArrow]="true"
    (nzOnSearch)="search($event)"
    (ngModelChange)="modelChange($event)"
    (change)="log($event)"
    (nzFocus)="ffff($event)"
  >
    <nz-option *ngFor="let o of listOfOption" [nzLabel]="o.name" [nzValue]="o.location"> </nz-option>

  </nz-select>

  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input (ngModelChange)="changeVal($event)" (change)="changeVal($event)" type="text" nz-input placeholder="input search text" [(ngModel)]="value"/>
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button (click)="check()" nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
  </ng-template>

  <div>
    <p *ngFor="let item of listOfOption" (click)="cval(item)">{{item.name}}</p>
  </div>

<!--  <select>-->
<!--    <option [value] = 'o.name' *ngFor="let o of listOfOption">{{o.name}}</option>-->
<!--  </select>-->
</div>






<!--<nz-card [nzTitle]="'地图'">-->
<!--    <div style="width: 600px;height: 600px;">-->
<!--        <div id="container"></div>-->
<!--    </div>-->
<!--</nz-card>-->
<div style="width: 600px;height: 600px;position: relative;margin-top: 200px;">
  <div #container style="height: 100%;width: 100%;"></div>
</div>
